.page .car-section .home {
  padding: 20px;
  height: calc(100vh - (var(--headerHeight) + var(--footerHeight)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
.page .car-section .home .car-wrapper {
  box-shadow: var(--shadow);
  border-radius: 8px;
}
.page .car-section .home .car-wrapper .car {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.page .car-section .home .car-wrapper .car .car-select {
  width: 100%;
  display: flex;
  gap: 20px;
}
.page .car-section .home .car-wrapper .car .car-select .car-pick {
  display: flex;
  gap: 20px;
  width: 100%;
}
.page .car-section .home .car-wrapper .car .car-select .car-pick .car-select-label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.page .car-section .home .car-wrapper .car .car-select .car-search {
  background-color: var(--brand);
  min-width: 56px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 150ms linear;
  text-transform: none;
}
.page .car-section .home .car-wrapper .car .car-select .car-search:hover {
  transition: all 150ms linear;
  background-color: #5d8988;
}
.page .car-section .home .car-wrapper .car-benefit {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}
.page .car-section .home .car-wrapper .car-benefit .car-benefit-item {
  display: flex;
  align-items: flex-end;
}
.page .about-section {
  padding: 20px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  max-width: 1280px;
}
.page .about-section p {
  font-size: 14px;
}
.page .about-section .about-header {
  display: grid;
  gap: 20px;
  margin: 0 0 20px;
}
.page .about-section .about-header h1 {
  text-align: center;
}
.page .about-section .about-header p {
  text-align: center;
}
.page .about-section .about-main {
  display: grid;
  gap: 20px;
}
.page .about-section .about-main.hidden {
  display: none;
}
.page .about-section .about-read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.page .about-section .about-read-more.hidden {
  display: none;
}
.page .about-section .about-read-more svg {
  color: var(--brand);
}
.page .about-section .about-read-more button {
  color: var(--brand);
}
.page .location-section {
  padding: 20px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  max-width: 1280px;
}
.page .location-section .locations {
  display: grid;
  grid-template-areas: "span1 span2 span2" "span3 span4 span5";
  position: relative;
  gap: 3px;
}
.page .location-section .locations .location {
  border-radius: 5px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.page .location-section .locations .location .location-text {
  font-size: 20px;
  color: white;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.23);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 5px;
}
.page .location-section .locations .location.span1 {
  grid-area: span1;
}
.page .location-section .locations .location.span1 img {
  border-top-left-radius: 5px;
}
.page .location-section .locations .location.span2 {
  grid-area: span2;
}
.page .location-section .locations .location.span2 img {
  border-top-right-radius: 5px;
}
.page .location-section .locations .location.span3 {
  grid-area: span3;
}
.page .location-section .locations .location.span3 img {
  border-bottom-left-radius: 5px;
}
.page .location-section .locations .location.span4 {
  grid-area: span4;
}
.page .location-section .locations .location.span5 {
  grid-area: span5;
}
.page .location-section .locations .location.span5 img {
  border-bottom-right-radius: 5px;
}
.page .location-section .locations .location:hover .location-image {
  transform: scale(1.1);
}
.page .location-section .locations .location .location-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  transition: transform 0.4s ease-in-out;
}
.page .location-section h2 {
  text-align: center;
}
.page .blog-section {
  padding: 20px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  max-width: 1280px;
}
.page .blog-section h2 {
  text-align: center;
}
.page .blog-section .blog-section-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.page .blog-section .blog-section-links .blog-section-link {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  gap: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.23);
}
.page .blog-section .blog-page-link {
  width: -moz-fit-content;
  width: fit-content;
  background: var(--brand);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 150ms linear;
  margin: 0 auto;
}
.page .blog-section .blog-page-link:hover {
  transition: all 150ms linear;
  background: #5d8988;
}

@media (max-width: 1000px) {
  .page .car-section .home .car-wrapper .car .car-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .page .car-section .home .car-wrapper .car-benefit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .page .location-section .locations {
    grid-template-areas: "span2 span2" "span1 span3" "span4 span5";
  }
  .page .location-section .locations .location {
    height: 200px;
  }
  .page .location-section .locations .location.span1 img {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .page .location-section .locations .location.span2 img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .page .location-section .locations .location.span3 img {
    border-bottom-left-radius: 0;
  }
  .page .location-section .locations .location.span4 img {
    border-bottom-left-radius: 5px;
  }
  .page .location-section .locations .location.span5 img {
    border-bottom-right-radius: 5px;
  }
}
@media (max-width: 500px) {
  .page .location-section .locations {
    grid-template-areas: "span2" "span1" "span3" "span4" "span5";
  }
  .page .location-section .locations .location {
    height: 150px;
  }
  .page .location-section .locations .location.span4 img {
    border-bottom-left-radius: 0;
  }
  .page .location-section .locations .location.span5 img {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
@media (max-width: 400px) {
  .page .car-section .home .car-wrapper .car .car-select {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .page .car-section .home .car-wrapper .car .car-select .car-pick {
    flex-direction: column;
  }
}/*# sourceMappingURL=Home.css.map */