.rent-a-car {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  gap: 20px;

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .car-wrapper {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
      border-radius: 8px;

      .car {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffffffcc;
        padding: 20px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .car-select {
          width: 100%;
          display: flex;
          gap: 20px;

          .car-pick {
            display: flex;
            gap: 20px;
            width: 100%;

            .car-select-label {
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }

          .car-search {
            background-color: var(--brand);
            min-width: 56px;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            transition: all 150ms linear;
            text-transform: none;

            &:hover {
              transition: all 150ms linear;
              background-color: #5d8988;
            }
          }
        }
      }

      .car-benefit {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: space-between;
        background-color: white;
        padding: 10px 20px;

        .car-benefit-item {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }

  .rent-a-car-option {
    display: flex;
    gap: 20px;

    .rent-a-car-options {
      max-width: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &.fixed {
        position: fixed;
        top: 100px;
        width: 200px;
      }

      .MuiPaper-root {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
        border-radius: 8px;
        border: 0;
        margin: 0 !important;

        &::before {
          height: 0;
        }
      }
    }

    .rent-a-car-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      max-width: 1050px;

      &.fixed-list {
        margin-left: 220px;
      }

      .rent-a-car-list-item {
        background-color: white;
        border-radius: 8px;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
        padding: 20px;
        display: flex;
        gap: 20px;

        .list-item {
          &.options {
            display: grid;
            align-items: center;
            max-width: 500px;
            width: 100%;

            .options-model {
              text-align: center;
            }

            .list-item-car-option {
              display: flex;
              justify-content: space-around;

              .divider {
                width: 1px;
                height: 60px;
                background-color: rgba(0, 0, 0, 0.23);
              }

              .list-item-car-option-item {
                display: grid;
                gap: 5px;
                justify-content: center;
                text-align: center;
              }
            }
          }

          &.price {
            max-width: 200px;
            width: 100%;
            background-color: #74adab30;
            border-radius: 8px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .price-day {
              text-align: center;
              font-size: 16px;
              font-weight: 700;
            }

            .price-total {
              color: var(--brand);
              font-size: 30px;
              font-weight: 700;
              text-align: center;
            }

            .price-amount {
              text-align: center;
              font-weight: 700;
            }

            .price-button {
              background-color: var(--brand);
              min-width: 56px;
              width: 100%;
              display: flex;
              color: white;
              justify-content: center;
              align-items: center;
              border-radius: 8px;
              transition: all 150ms linear;
              text-transform: none;
              font-weight: 700;

              &.expanded-button {
                background-color: rgb(133, 133, 74);

                &:hover {
                  transition: all 150ms linear;
                  background-color: rgb(111, 111, 76);
                }
              }

              &:hover {
                transition: all 150ms linear;
                background-color: #5d8988;
              }
            }
          }
        }
      }

      .car-detail {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .car-detail-nav {
          display: flex;
          gap: 10px;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;

          button {
            text-transform: none;
            border-radius: 0;
            color: black;
            font-weight: 700;
            font-size: 13px;
            border-bottom: 2px solid transparent;

            &.active {
              border-bottom: 2px solid var(--brand);
            }
          }
        }

        .car-detail-page {
          .car-detail-pacgakes {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .detail-package-wrapper {
              border: 1px solid gray;
              border-radius: 8px;
              display: flex;
              align-items: center;
              padding-left: 10px;

              &.counter-wrapper {
                display: grid;
                gap: 5px;

                .counter-container {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 100%;
                  padding: 10px 10px 10px 0;

                  .counter-img {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                  }

                  .counter {
                    display: flex;
                    gap: 7px;
                    align-items: center;

                    .counter-amount {
                      color: var(--brand);
                      font-weight: 700;
                    }

                    .counter-buttons {
                      border: 1px solid;
                      width: 20px;
                      display: flex;
                      height: 20px;
                      justify-content: center;
                      align-items: center;
                      border-radius: 4px;
                      cursor: pointer;
                      user-select: none;

                      &.disabled {
                        opacity: 0.3;
                        cursor: auto;
                      }
                    }
                  }
                }

                .counter-price {
                  display: flex;
                  gap: 5px;

                  &:first-child {
                    color: var(--brand);
                  }

                  p {
                    font-size: 13px;
                  }
                }
              }

              .detail-package {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                margin: 10px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
